
body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 7% 15%;
}

.form-card {
  height: 25rem;
  width: 25rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.footer {
  height: 2rem;
  width: auto;
  background-color: #f6f6f6;
  text-align: center;
}

.d {
background-attachment: fixed;
}