{% extends 'layout.html' %}

{% block title %}
    Register
{% endblock %}


{% block body %}

<p class="error">{{ error }}</p>

<div class="form-card register-card">
    <form action="{{ url_for('register')}}" method="post">
        <h4>Register</h4>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
          </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div class="form-group">
        <a class="form-check-label" href="{{ url_for('login') }}">Return to login</a>
    </div>
</div>




{% endblock %}